* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: -20px 0 50px 0;

    background-color: rgb(155, 151, 151);
    font-family: 'Montserrat', sans-serif;
}



.contoiner {
    display: flex;

    min-height: 480px;
    width: 770px;
    max-width: 100%;

    overflow: hidden;

    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 10px;
    background-color: rgb(246, 247, 247);

}

footer {
    height: 40px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;

}

p {

    font-size: 14px;
    color: whitesmoke;
    letter-spacing: 1px;
    text-align: center;

}

.sign-contoiner {
    flex: 1;

}

.overlay-contoiner {
    flex: 1;
    background-color: #FF4261;
}

form {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    padding: 0 50px;
    height: 100%;

}

.overlay-contoiner>form {
    color: #eee;
}

.overlay-contoiner>form>p {
    text-align: center;
}

h1 {
    font-weight: bold;
    margin: 0;
}

span {
    font-size: 12px;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

button {
    width: 140px;
    height: 40px;
    border-radius: 40px;
    padding: 12px 45;

    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    transition: transform 0.5s ease-in;
}

button:active {
    transform: scale(0.50);
}

button.btn-2 {
    background-color: transparent;
    border: 2px solid whitesmoke;
}